html, body, #root {
    height: 100%;
}

.bg-home {
    background: url("img/backgroundB") no-repeat fixed center center;
    background-size: cover;
    height: 100%;
}

 header {
  width: 100%;
  padding: 10px 0;
}

.bg-header-home {
    background: white;
}

.introducao {
    width: 850px;
    margin: 70px auto 0 auto;
    background-image: linear-gradient(to right, #0d1821, #344966);
}

.introducao h1{
    margin: 0;
    color:#fff;
    text-transform: uppercase;
    font-weight: bold;
}


.introducao h1::before, .introducao h1::after{
    content: "";
    display:block;
    width: 80px;
    height: 4px;
    margin: 10px auto 10px auto;
}

.introducao p {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style:italic;
    color:#f0f4ef;   
}

.btn-introducao {
  
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
    padding: 8px 12px;
    width: 200px;
    margin: 0 auto;
    display:block;
    margin-top: 25px;
  
}

.btn-calcule {
    border: 3px solid #1555;
    color: #fff;
}


.btn-ajuda {
    border: 3px solid #bfcc94;
    color: #b4cded;
}

.btn-introducao:hover {
    border-color: #fff;
    color:#fff;
}


@media only screen and (max-width: 767px) {
    .introducao {
        width: 100%;
        margin: 20px auto 0 auto;
    }

    .introducao h1 {
        font-size: 1.7rem;
    }
  
    .header-menu-home {
        width: 100px;
        padding-top: 5px;
    }

    .bg-home {
        background: url("img/backgroundB") no-repeat fixed center center;
    }
    
}